@model  MVCApp.Models.ErrorModel
@{
    ViewBag.Title = "Error";
}

<div class="container-fluid">
    <div id="pageTitle" class="container-fluid text-center border-bottom border-dark mb-5">
        <!-- Page title -->
        <h2>
            Error
        </h2>
    </div>

    <div class="container-fluid col-12">
        <p class="text-center text-danger">
            <strong>Error!</strong><br />
            @Model.Message <!-- Display error message -->
        </p>
        <p class="text-center">
            @Html.ActionLink("Return to the home page", actionName: "Index", controllerName: "Home") <!-- Link back to homepage -->
        </p>
    </div> 
</div>